doctype html
html
  head
    title Kong PoC JWT Sample
  body
    h1 Welcome to the PoC JWT for Kong
    p This sample application has been created to demostrate the implementation required to support JWT access for Kong
    ul
      li
        a(href="https://github.com/aetelani/kong-oauth2-hello-world/blob/master/README.md") Instructions
      li
        a(href="https://getkong.org/") Kong Homepage   
